<launch>
    <param name="/use_sim_time" value="true" />

    <arg name="urdf_path" default="$(find thewalkingdead)/config/walker.urdf" />
    <arg name="account_file" default="$(find thewalkingdead)/config/user_account.json"/>

    <!-- Leg motions -->
    <include file="$(find thewalkingdead)/launch/walker2_leg.launch" >
        <arg name="account_file" value="$(arg account_file)" />
    </include>

    <node type="solver_server_node" name="solver_server_node" pkg="thewalkingdead">
        <param name="walker_urdf_path" value="$(arg urdf_path)" />
    </node>
    
    <node pkg="thewalkingdead" type="task7.py" name="task7" output="screen" required="true"/>
</launch>